.button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0 1.3em;
  line-height: 2.5;
  border-radius: $button-border-radius;
  background: $button-background;

  &, &:hover {
    text-decoration: none;
  }

  &:hover {
    background: $button-background-hover;
  }

  &:active,
  &:focus {
    outline:none;
  }
}
