/// A lightweight clearfix
/// @author [Thierry Koblentz](https://twitter.com/thierrykoblentz)
/// @link http://cssmojo.com/latest_new_clearfix_so_far/
%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
